*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: white;
  margin: 20px 0;
}

h3{
  font-size: 16px;
}

hr{
  margin-top: 10px;
  margin-right: 20px;
}

.btn{
  text-decoration: none;
  color: grey;
  border: 1px solid grey;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 13px;
}
.btn:hover{
  color: white;
  border-color: white;
}

.page-wrapper{
  height: 100vh;
  background-color: black;
}

/*MIX*/
.white{
  color: white;
}
.grey{
  color: grey;
}
.lightgrey{
  color: lightgrey;
}
.marchio{
  font-size: 10px;
  vertical-align: super;
}
.p-left20{
  padding-left: 20px;
}
.f-s-10{
  font-size: 10px;
}
.f-s-13{
  font-size: 13px;
}
.f-s-30{
  font-size: 30px;
}
.f-s-20{
  font-size: 20px;
}
.text-center{
  text-align: center;
}
.m-bot20{
  margin-bottom: 20px;
}

/*MAIN*/
/*navbar laterale*/
main{
  height: calc(100% - 80px);
  display: flex;
}

.barra-laterale{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo{
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 45px;
  margin-right: 10px;
}

.main-nav{
  background-color: black;
}
.main-nav-list{
  list-style: none;
}
.main-nav-list li{
  margin: 10px 0;
}
.main-nav-list a{
  text-decoration: none;
}
.main-nav-list li:first-child{
  border-left: 3px solid lightgreen;
  padding-left: 17px;
}
.main-nav-list a:hover{
  color: white;
}
.main-nav-list i{
  font-size: 25px;
}

.secondary-nav-top{
  height: 70px;
}

.secondary-nav{
  background-color: black;
  margin-top: 15px;
  height: 100%;
  overflow-y: hidden;
}
.crea-playlist{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.crea-playlist a{
  text-decoration: none;
  margin-left: 10px;
}
.crea-playlist a:hover{
  color: white;
}
.box-plus{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: lightgrey;
  color: black;
}
.box-plus:hover{
  background-color: white;
}
.playlist-list{
  height: calc(100% - 70px);
  overflow-y: auto;
}
.playlist-list li{
  margin: 10px 0;
}
.playlist-list a{
  text-decoration: none;
  font-size: 14px;
}
.playlist-list a:hover{
  color: white;
}

.aside-bottom{
  height: 80px;
  flex-shrink: 0; /*l'elemento non può restringersi*/
  background-color: black;
  margin-top: auto; /*trick da usare con display flex per allineare in fondo il contenuto*/
}
.aside-bottom a:hover{
  color: white;
}
.install{
  text-decoration: none;
  margin-left: 10px;
}
.account{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.account i{
  font-size: 30px;
  margin-right: 10px;
}

/*Main content*/
.main-content{
  padding: 80px 20px 0 20px;
  background-color: #031524;
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto; /*per far scrollare solo la parte del main content*/
}
.upgrade{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  width: calc(100% - 300px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lista-generi{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.lista-generi li{
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
}
.spec{
  border-top: 2px solid lightgreen;
  margin: 3px 30px;
  border-color: lightgreen;
}
.lista-generi a{
  text-decoration: none;
}
.lista-generi a:hover{
  color: white;
}
.box-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.box{
  padding: 10px;
  width: calc(100% / 6);
  flex-shrink: 0;
}
.circle{
  border-radius: 50%;
}
.box img{
  width: 100%;
}
.box p{
  font-size: 13px;
}
.play-icon{
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layover-container{
  position: relative;
}
.layover{
  width: 100%;
  height: calc(100% - 4px); /*4 px di differenza tra layover-container e img non so da dove escono fuori*/
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.layover-container:hover .layover{
  display: block;
  cursor: pointer;
}
.layover-circle{
  border-radius: 50%;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.layover-container:hover .layover-circle{
  display: block;
  cursor: pointer;
}

/*FOOTER*/
footer{
  height: 80px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #262626;
}
.footer-left,
.player,
.footer-right{
  width: calc(100% / 3);
  height: 100%;
}
.footer-left{
  display: flex;
  align-items: center;
  padding: 10px;
}
.sinister{
  width: 50px;
  height: 50px;
}
.brano-testo{
  margin: 0 20px;
}
.fa-heart{
  margin: 0 15px;
}
.player{
  display: flex;
  flex-direction: column;
}
.player-top{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
}
.player-top i{
  margin: 0 20px;
}
.play-logo:hover .fa-play-circle{
  font-size: 35px;
}
.player-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-player{
  width: 500px;
  height: 5px;
  border-radius: 5px;
  background-color: grey;
  margin: 0 30px;
}
.barretta{
  width: 20%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.pallino{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 0;
  top: -4px;
  display: none;
}
.barra-player:hover .barretta{
  display: block;
  background-color: lightgreen;
}
.barra-player:hover .pallino{
  display: block;
}
.footer-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer-right i{
  margin: 0 20px;
}
.barra-volume{
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: grey;
  margin-right: 10px;
}
.barretta-volume{
  width: 50%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.pallino2{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 0;
  top: -4px;
  display: none;
}
.barra-volume:hover .barretta-volume{
  display: block;
  background-color: lightgreen;
}
.barra-volume:hover .pallino2{
  display: block;
}


/*RESPONSIVE*/

@media screen and (max-width: 992px){
  .box{
    width: 25%;
  }
  .lista-generi li{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px){
  .box{
    width: 50%;
  }
  .lista-generi li{
    margin-bottom: 30px;
  }
  .footer-right i{
    margin: 0 10px;
    font-size: 13px;
  }
  .footer-left{
    margin-right: 20px;
  }
  .brano-testo p{
    font-size: 9px;
  }
  .player-top i{
    margin: 0 15px;
  }
  .barra-player{
    margin: 0 10px;
  }
}
