*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 16px;
}

hr{
  margin-top: 10px;
  margin-right: 20px;
}

.btn{
  color: white;
  background-color: purple;
}

.page-wrapper{
  height: 100vh;
  background-color: black;
}

/*MIX*/
.white{
  color: white;
}
.grey{
  color: grey;
}
.lightgrey{
  color: lightgrey;
}
.marchio{
  font-size: 10px;
  vertical-align: super;
}
.p-left20{
  padding-left: 20px;
}

/*MAIN*/
/*navbar laterale*/
main{
  height: calc(100% - 80px);
  display: flex;
}

.barra-laterale{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo{
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 45px;
  margin-right: 10px;
}

.main-nav{
  background-color: black;
}
.main-nav-list{
  list-style: none;
}
.main-nav-list li{
  margin: 10px 0;
}
.main-nav-list a{
  text-decoration: none;
}
.main-nav-list li:first-child{
  border-left: 3px solid lightgreen;
  padding-left: 17px;
}
.main-nav-list a:hover{
  color: white;
}
.main-nav-list i{
  font-size: 25px;
}

.secondary-nav{
  background-color: black;
  margin-top: 15px;
  height: 100%;
  overflow-y: auto;
}
.crea-playlist{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.crea-playlist a{
  text-decoration: none;
  margin-left: 10px;
}
.crea-playlist a:hover{
  color: white;
}
.box-plus{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: lightgrey;
  color: black;
}
.box-plus:hover{
  background-color: white;
}
.playlist-list{
  height: 80%;
  overflow-y: auto;
}
.playlist-list li{
  margin: 10px 0;
}
.playlist-list a{
  text-decoration: none;
  font-size: 14px;
}
.playlist-list a:hover{
  color: white;
}

.aside-bottom{
  height: 80px;
  flex-shrink: 0; /*l'elemento non può restringersi*/
  background-color: black;
  margin-top: auto; /*trick da usare con display flex per allineare in fondo il contenuto*/
}
.aside-bottom a:hover{
  color: white;
}
.install{
  text-decoration: none;
  margin-left: 10px;
}
.account{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.account i{
  font-size: 30px;
  margin-right: 10px;
}

/*Main content*/
.main-content{
  padding: 80px 20px 0 20px;
  background-color: yellow;
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto; /*per far scrollare solo la parte del main content*/
}
.upgrade{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  width: calc(100% - 300px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.lista-generi{
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.lista-generi li{
  margin-right: 10px;
}
.lista-generi a{
  text-decoration: none;
}
.box-wrapper{
  display: flex;
}
.box{
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 10px;
}

/*FOOTER*/
footer{
  background-color: red;
  height: 80px;
  position: relative;
  z-index: 1;
  display: flex;
}
.footer-left,
.player,
.footer-right{
  width: calc(100% / 3);
  height: 100%;
}
.footer-left{
  background-color: pink;
  display: flex;
}
.player{
  background-color: blue;
}
.footer-right{
  background-color: green;
}
.player-bottom{
  display: flex;
  align-items: center;
}
.barra-player{
  width: 500px;
  height: 5px;
  border-radius: 5px;
  background-color: grey;
}
.footer-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.barra-volume{
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: grey;
}
